<theme>
    <formatVersion>4</formatVersion>
	<include subset="colorset" name="Full HD 1080p">./colorsets/fullhd.xml</include>
	<include subset="colorset" name="HD 720p">./colorsets/hd.xml</include>
	<include subset="colorset" name="Lite 540p">./colorsets/lite.xml</include>
	
	<include subset="iconset" name="standard icons" displayName="${icondef}">./iconsets/default.xml</include>
	<include subset="iconset" name="SNES">./iconsets/snes.xml</include>
	<include subset="iconset" name="SNES ALT">./iconsets/snesalt.xml</include>
	<include subset="iconset" name="XBox">./iconsets/xbox.xml</include>
	<include subset="iconset" name="Default PSX">./iconsets/psx.xml</include>
	<include subset="iconset" name="ARCADE">./iconsets/arcade.xml</include>
	<include subset="iconset" name="PSX ALT">./iconsets/psx1.xml</include>
	<include subset="iconset" name="Xbox One">./iconsets/xboxone.xml</include>
	<include subset="iconset" name="Switch">./iconsets/switch.xml</include>

	<include subset="systemview" name="Cobalto" displayName="${cobalto}">./systemview/6A.xml</include>
	<include subset="systemview" name="Cobalto - Random Box Background" displayName="${cobaltorandbg}">./systemview/6AB.xml</include>
	<include subset="systemview" name="Cobalto - Random Fanart Background" displayName="${cobaltorandbbg}">./systemview/6AC.xml</include>
	<include subset="systemview" name="Cobalto - Random Video Background" displayName="${cobaltovrandvid}">./systemview/6AD.xml</include>
	<include subset="systemview" name="Default Artflix" displayName="${srandvideo}">./systemview/7AB.xml</include>
	<include subset="systemview" name="Random Box Background" displayName="${srandbg}">./systemview/7AC.xml</include>
	<include subset="systemview" name="Random Fanart Background" displayName="${srandbbg}">./systemview/7ACC.xml</include>
	<include subset="systemview" name="Random Video Background" displayName="${svrandvid}">./systemview/7AA.xml</include>
	<include subset="systemview" name="Dynamic Background" displayName="${svwheel}">./systemview/7A.xml</include>
	<include subset="systemview" name="Custom Background Image" displayName="${scustimg}">./systemview/7AD.xml</include>
	
</theme>